<h1>Aloha</h1>
What will you create today!?

  <%
=begin%>
 <div data-controller="clipboard">
  PIN: <input data-clipboard-target="source" type="text" value="1234" readonly>
  <button data-action="clipboard#copy">Copy to Clipboard</button>
  </div>
  <div data-controller="clipboard">
  PIN: <input data-clipboard-target="source" type="text" value="3737" readonly>
  <button data-action="clipboard#copy">Copy to Clipboard</button>
</div> 
<%
=end%>

<div data-controller="clipboard">
  PIN: <input data-clipboard-target="source" type="text" value="3737" readonly>
  <a href="#" data-action="clipboard#copy">Copy to Clipboard</a>
  PIN: <textarea data-clipboard-target="source" readonly>3737</textarea>
</div>


<br />

<%= link_to "Write new blog post!", new_blog_post_path %>

<def index>
<div class="border-8">
    <% @blog_posts.each do |blog_post| %>
    <div>
        <h1><%= link_to blog_post.title, blog_post %></h1>
          <%if blog_post.draft? %>
             <div class="p-2 rounded bg-gray-100 text-gray-900">Draft</div>
          <% elsif blog_post.scheduled? %>
           <div class="p-2 rounded bg-blue-100 text-gray-900">Scheduled</div>
           <% else blog_post.published? %>
             <div class="p-2 rounded bg-green-100 text-gray-900">Published!</div>
       <% end %>
        <%= blog_post.content %>
     <% end %>
    </div>
    </div>
<end>